body {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 25px repeat(auto);
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  overflow-x: hidden;
  background-color: #333;
}

/* Background Image */

.background-image {
  grid-column: 1 / 15;
  grid-row: 1 / 10;
  background-image: url('../images/backgroundimg4.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1010px;
  animation-duration: 2s;
  z-index: -1;
}

/* menu */

a {
  text-decoration: none;
  color: #C9C9C9;
  transition: color 0.3s ease;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

#current {
  color: #FF0000;
  text-decoration: underline;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Hamburger
 */

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Turn Hamburger into a cross
 */

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * Hide the middle one.
 */

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * The last one in the other direction
 */

#menuToggle input:checked~span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 5px 0;
  font-size: 20px;
}

/*
 * Fade it in from the left
 */

#menuToggle input:checked~ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}

#current {
  text-decoration: underline;
}

/* Logo */

.logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 35px);
  grid-column: 2 / 5;
  grid-row: 2 / 4;
  text-align: left;
  padding: 2em 2em 2em 0;
}

.logo h1 {
  grid-column: 1 / 4;
  color: #C9C9C9;
  font-size: 2.5em;
  padding: 0;
  border-style: solid;
  border-top: 1px;
  border-color: #C9C9C9;
}

/* Navigation Tiles */

.navTiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
  grid-column: 1 / 8;
  grid-row: 4 / 8;
  padding: 2em;
}

.navTiles a {
  list-style-type: none;
  text-decoration: none;
  color: #C9C9C9;
  transition: color 0.3s ease;
}

.navTiles a:hover {
  color: #fff;
  text-decoration: underline;
}

#currentTile {
  color: #fff;
  text-decoration: underline;
  background-image: linear-gradient(to right top, #ff0000, #e90000, #d30000, #bd0000, #a80000);
}

.welcomeTile {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  opacity: 0.8;
  padding: 3em;
  border-style: solid;
  border-width: 1px;
  border-color: #C9C9C9;
}

.contactTile {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  opacity: 008;
  padding: 3em;
  border-style: solid;
  border-width: 1px;
  border-color: #C9C9C9;
}

.aboutTile {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  opacity: 0.8;
  padding: 3em;
  border-style: solid;
  border-width: 1px;
  border-color: #C9C9C9;
}

.blogTile {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  opacity: 0.8;
  padding: 3em;
  border-style: solid;
  border-width: 1px;
  border-color: #C9C9C9;
}

/* Title Message */

.titleMessage {
  grid-column: -7 / -2;
  grid-row: 2 / 12;
  text-align: left;
  background-image: linear-gradient(to right top, #ff0000, #e90000, #d30000, #bd0000, #a80000);
  opacity: 0.8;
  border-style: solid;
  border-width: 1px;
  border-color: #C9C9C9;
  animation-duration: 1s;
}

.messageBody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 2em;
  animation-duration: 2s;
  animation-delay: 1s;
  height: 615px;
  overflow-y: scroll;
}

.titleMessage h1, h3 {
  grid-column: 1 / 5;
  text-align: center;
  color: #fff;
  padding: 0.5em 0 0 0;
}

.titleMessage p {
  grid-column: 1 / 5;
  grid-row: padding: 0.5em;
  color: #fff;
}

.phone {
  grid-column: 2 / 3;
  padding: 2em;
}

.email {
  grid-column: 3 / 4;
  padding: 2em;
}

/* Main */

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / 15;
  grid-row: 10 / 16;
  background-color: #333;
  z-index: 0;
}

main h1, p, i {
  font-size: 1em;
  color: #C9C9C9;
}

main p {
  text-align: left;
}

.webDesign i {
  font-size: 2em;
}

.webDevelopment i {
  font-size: 2em;
}

.webHosting i {
  font-size: 2em;
}

.webSeo i {
  font-size: 2em;
}

.webDesign {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: 3em;
}

.webDevelopment {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  padding: 3em;
}

.webHosting {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  padding: 3em;
}

.webSeo {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  padding: 3em;
}

/* More info */

.moreInfo {
  grid-column: 2 / 6;
  grid-row: 18 / 20;
}

.moreInfo h1, p {
  color: #C9C9C9;
}

/* Second paralax image */

.background-image2 {
  grid-column: 1 / 15;
  grid-row: 12 / 22;
  background-image: url('../images/backgroundimg3.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1200px;
  animation-duration: 2s;
  z-index: -1;
}

/* Footer */

/* Footer one */

footer {
  background-color: #333;
  grid-column: 1 / 15;
  color: #C9C9C9;
}

.poweredBy {
  grid-column: 1 / 5;
}

.powered {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
  font-size: 0.75em;
  padding: 1em;
}

.powered i {
  padding: 1em 0 0 0;
  font-size: 2em;
}

.tile1 {
  padding: 1em;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.tile2 {
  padding: 1em;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.tile3 {
  padding: 1em;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.tile4 {
  padding: 1em;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.twitter {
  grid-column: -1 / -5;
  grid-row: 1 / 3;
  padding: 1em;
}

.twitter-timeline {
  grid-column: -1 / -5;
  grid-row: 1 / 3;
  padding: 1em;
  background-color: #5A5A5A;
}

/* Footer two */

.copy {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  background-color: #5A5A5A;
  font-size: 1em;
}

.copy i {
  font-size: 2em;
}

#copyright {
  grid-column: 1 / 7;
  text-align: left;
  padding: 0.5em 0 0 0.5em;
}

#instagram {
  grid-column: -5 / -6;
  grid-row: 1 / 2;
  padding: 1em;
}

#twitter {
  grid-column: -4 / -5;
  grid-row: 1 / 2;
  padding: 1em;
}

#linkedin {
  grid-column: -3 / -4;
  grid-row: 1 / 2;
  padding: 1em;
}

#facebook {
  grid-column: -2 / -3;
  grid-row: 1 / 2;
  padding: 1em;
}

/* media query for  Menu grid layout */

@media only screen and (min-width: 800px) and (max-width: 1199px) {
  .navTiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .navTiles {
    grid-column: 1 / 9;
    grid-row: 4 / 8;
  }
  .welcomeTile {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0.8;
  }
  .contactTile {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    opacity: 0.8;
  }
  .aboutTile {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    opacity: 0.8;
  }
  .blogTile {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    opacity: 0.8;
  }
}

/* media query for nav styles */

@media only screen and (max-width: 799px) {
  body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(64, 56px);
  }
  /* Background Image */
  .background-image {
    grid-column: 1 / 15;
    grid-row: 1 / 10;
    background-image: url('../images/backgroundimg4.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
    animation-duration: 2s;
    z-index: -1;
  }
  .background-image2 {
    grid-column: 1 / 15;
    grid-row: 45 / 55;
    background-image: url('../images/backgroundimg3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 820px;
    animation-duration: 2s;
    z-index: -1;
  }
  /* Logo */
  .logo {
    grid-column: 1 / 8;
    grid-row: 1 / 2;
    padding: 0 0 0 10px;
  }
  /* Title Message */
  .titleMessage {
    grid-column: 2 / 8;
    grid-row: 5 / 18;
    z-index: 2;
  }
  .messageBody {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.5em;
    animation-duration: 2s;
    animation-delay: 1s;
    height: 700px;
    overflow-y: scroll;
  }
  .titleMessage h1, h3 {
    grid-column: 1 / 5;
    text-align: center;
    color: #fff;
    padding: 5px;
  }
  .titleMessage p {
    grid-column: 1 / 5;
    grid-row: padding: 5px;
    color: #fff;
    text-align: center;
  }
  /* Navigation Tiles */
  .navTiles {
    display: none;
  }
  .welcomeTile {
    display: none;
  }
  .aboutTile {
    display: none;
  }
  .portfolioTile {
    display: none;
  }
  .contactTile {
    display: none;
  }
  /* Main */
  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(18, 50px) grid-column: 1 / 9;
    grid-row: 17 / 51;
    background-color: #333;
    z-index: 0;
  }
  main h1, p, i {
    padding: 1em 0 0 0;
  }
  .webDesign i {
    font-size: 2em;
  }
  .webHosting i {
    font-size: 2em;
  }
  .webSeo i {
    font-size: 2em;
  }
  .webDevelopment i {
    font-size: 2em;
  }
  .webDesign {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    padding: 2em 1em 0 1em;
  }
  .webDevelopment {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
    padding: 0 1em 0 1em;
  }
  .webHosting {
    grid-column: 1 / 5;
    grid-row: 5 / 7;
    padding: 0 1em 0 1em;
  }
  .webSeo {
    grid-column: 1 / 5;
    grid-row: 7 / 9;
    padding: 0 1em 0 1em;
  }
  /* More info */
  .moreInfo {
    grid-column: 1 / 9;
    grid-row: 51 / 60;
    padding: 3em 1em 0 1em;
  }
  #moreInfo h1, p {
    color: #fff;
  }
  .powered {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1em;
    font-size: 0.75em;
    padding: 1em;
  }
  .poweredBy {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }
  .powered i {
    padding: 1em 0 0 0;
    font-size: 2em;
  }
  .tile1 {
    padding: 1em;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .tile2 {
    padding: 1em;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  .tile3 {
    padding: 1em;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
  .tile4 {
    padding: 1em;
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
  .twitter {
    grid-column: -1 / -5;
    grid-row: 1 / 3;
    padding: 1em;
  }
  .twitter-timeline {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    padding: 1em;
    background-color: #5A5A5A;
  }
  .copy {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #5A5A5A;
    grid-column: 1 / 11;
    text-align: center;
  }
  .copy i {
    font-size: 2em;
  }
  #copyright {
    grid-column: 1 / 7;
    text-align: left;
    padding: 0 0 0 1em;
  }
  #instagram {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0 0 1em 0;
  }
  #twitter {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 0 0 1em 0;
  }
  #linkedin {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    padding: 0 0 1em 0;
  }
  #facebook {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    padding: 0 0 1em 0;
  }
}
